﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout4/css/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <link href="../assets/global/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" type="text/css" />
    <title>Edit</title>
</head>
<body>
    <div ng-app="editPage" ng-controller="myCtrl">
        <br />
        <div class="col-sm-12 form-inline">
            <select class="form-control select2_category col-xs-2" ng-model="selectedSite" style="width:300px;">
                <option value="">请选择</option>
                <option ng-repeat="x in sites" value="{{x.ID}}">{{ x.DetailName }}</option>
            </select>
            <div class="col-xs-1"></div>
            <button class="col-xs-1  btn green" ng-click="Save()">保存</button>
        </div>

        <br />
        <br />
        <div class="col-lg-offset-9 col-lg-3 right form-inline">
            <input type="text" ng-model="Search" class="form-control col-lg-9" /> &nbsp;&nbsp;
            <button type="button" class="form-control btn red btn-block col-lg-offset-2 col-lg-2" ng-click="Find()">查询</button>
        </div>
        <br /><br />
        <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
                <thead>
                    <tr class="uppercase">
                        <th> 编号 </th>
                        <th> 名称 </th>
                        <th> 操作 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr  ng-repeat="x in sites">
                        <td> {{ x.DetailCode }} </td>
                        <td> {{ x.DetailName }} </td>
                        <td> <button class="btn btn-success btn-xs" ng-click="EditTempItem(x.ID)">编辑</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-group form-md-radios col-sm-12">
            <label for="form_control_1">Radios</label>
            <div class="md-radio-inline">
                <div class="md-radio">
                    <input type="radio" id="checkbox2_8" ng-model="mySwitch" name="test" value="1" class="md-radiobtn">
                    <label for="checkbox2_8">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span> 按钮 1
                    </label>
                </div>
                <div class="md-radio">
                    <input type="radio" id="checkbox2_9" ng-model="mySwitch" name="test" value="2" class="md-radiobtn">
                    <label for="checkbox2_9">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span> 按钮 2
                    </label>
                </div>
                <div class="md-radio">
                    <input type="radio" id="checkbox2_10" ng-model="mySwitch" name="test" value="3" class="md-radiobtn">
                    <label for="checkbox2_10">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span> 按钮 3
                    </label>
                </div>
            </div>
            {{ mySwitch }}
            <br />
            <button ng-click="ShowTable()">分页查看</button>
        </div>

        
        <div class="form-group form-md-checkboxes">
            <div class="col-md-12">
                <div class="md-checkbox-inline">
                    <div class="md-checkbox" ng-repeat="y in sites">
                        <input type="checkbox" name="{{y.DetailName}}"  ng-model="site" ng-click="isSelected(site,y.ID,y.DetailName)" id="{{y.ID}}" class="md-check">
                        <label for="{{y.ID}}">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span> {{y.DetailName}}
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2"><button class="btn purple btn-block" ng-click="Get()">Show</button></div>
        <br /><br />
    </div>
    
        <script>
            var app = angular.module('editPage', []);
            app.controller('myCtrl', function ($scope, $http) {

                $http.get("../Test/GetZLDL?id=B8C038DD-B5C4-4EB3-AEBC-A7A074A87077&search=")
                 .success(function (response) {
                     $scope.sites = response;
                 });

                $scope.Find = function () {
                    alert($scope.Search)
                    $http.get("../Test/GetZLDL?id=B8C038DD-B5C4-4EB3-AEBC-A7A074A87077&search=" + $scope.Search)
                 .success(function (response) {
                     $scope.sites = response;
                 });
                }

                $http.get("../Test/GetXBS?pid=675D1F51-7463-4219-A6BA-0050FFCE29D3")
                 .success(function (response) {
                     $scope.selectedSite = response.Pathogeny;
                 });

                $scope.Save = function () {
                    var id = $scope.selectedSite;
                    // 传递表单数据的时候要使用$.param不然服务器没法正常捕获到发送的数据
                    $http({
                        method: "post",
                        url: "../Test/SaveXBS",
                        dataType: 'json',
                        data: {
                            "PatientID": "675D1F51-7463-4219-A6BA-0050FFCE29D3",
                            "Pathogeny": id
                        },
                        param: null
                    }).success(function (response) {
                        if (response) {
                            alert("保存成功！")
                        } else
                        {
                            alert("保存失败！")
                        }
                    });
                };
                $scope.selected = [];

                $scope.isSelected = function (status, id, code) {
                    if (status) {
                        $scope.selected.push(id);
                    } else {
                        for (var i = 0; i < $scope.selected.length; i++) {
                            if ($scope.selected[i] == id) {
                                $scope.selected.splice(i, 1);
                                break;
                            }
                        }
                    }
                }

                $scope.Get = function () {
                    alert($scope.selected.length);
                    for (var i = 0; i < $scope.selected.length; i++) {
                        console.log($scope.selected[i])
                    }

                }; 
            
                $scope.EditTempItem = function (id) {
                    alert(222);
                }
                $scope.ShowTable = function () {
                    window.location.href = "../Test/TestTable";
                };
        });
        </script>

        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        <script src="../assets/pages/scripts/form-samples.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <script src="../assets/global/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="../assets/global/plugins/bootstrap-table/bootstrap-table-zh-CN.min.js"></script>
</body>
</html>
