﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <style>
        input.ng-invalid {
            background-color: #b200ff;
        }
    </style>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl" ng-init="q=3;c=5;fname='zhiyue';lname='qian';points=[1,15,19,2,40];names=[
{name:'Jani',country:'Norway'},
{name:'Hege',country:'Sweden'},
{name:'Kai',country:'Denmark'}]">

        名: <input type="text" ng-model="firstName"><br>
        姓: <input type="text" ng-model="lastName"><br>
        <br>
        姓名: {{firstName + " " + lastName}}

        <p>名字 : <input type="text" ng-model="name" ></p>
        <h1>Hello {{name}}</h1>
        <p>我的第一个表达式： {{ 5 + 5 }}</p>
        <p>我的第二个表达式：{{ q * c}}</p>

        <p>姓名: {{fname + " " + lname}}</p>
        <p>第4个值：{{points[3]}} </p>
        <ul>
            <li ng-repeat="x in points">
                {{ x }}
            </li>
        </ul>
        <ul>
            <li ng-repeat="y in names">
                {{ y.name + ', ' + y.country }}
            </li>
        </ul>
       @*<div runoob-directive></div>*@
        <div class="runoob-directive"></div>
        <form ng-app="" name="myForm">
            Email:
            <input type="email" name="myAddress" ng-model="text" required maxlength="20">
            <span ng-show="myForm.myAddress.$error.email">不是一个合法的邮箱地址</span>
        </form>

        <h1>{{carname}}</h1>

        <input ng-model="name">
        <h1>{{greeting}}</h1>
        <button ng-click='sayHello()'>点我</button>
        <br />
        <button ng-click="ShowEdit()">编辑</button>
    </div>

    
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.firstName = "John";
            $scope.lastName = "Doe";
            $scope.carname = "Volvo";

            $scope.name = "Runoob";
            $scope.sayHello = function () {
                $scope.greeting = 'Hello ' + $scope.name + '!';
            };
            $scope.ShowEdit = function () {
                window.location.href = "../Test/Edit";
            };
        });

        app.directive("runoobDirective", function() {
            return {
                restrict: "C",
                template : "<h5>自定义指令!</h5>"
            };
        })
    </script>
</body>

</html>
