﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="../assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout4/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/layouts/layout4/css/themes/light.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="../assets/layouts/layout4/css/custom.min.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <title>TestTable</title>
</head>
<body>
    <div ng-app="CreateTable" ng-controller="myCtrl"> 
        <div class="col-lg-12  form-inline" style="padding:10px;">
            <span  class="form-control col-lg-1" >编号</span>
            <input type="text" ng-model="Search" class="form-control col-lg-10" /> &nbsp;&nbsp;
            <button type="button" class="form-control dt-button buttons-print btn green btn-outline col-lg-offset-10 col-lg-1 right" ng-click="Find()">查询</button>
        </div>
        <div class="table-scrollable table-scrollable-borderless">
            <table class="table table-hover table-light">
                <thead>
                    <tr class="uppercase">
                        <th> 编号 </th>
                        <th> 名称 </th>
                        <th> 操作 </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in sites">
                        <td> {{ x.DetailCode }} </td>
                        <td> {{ x.DetailName }} </td>
                        <td> <button class="btn green btn-xs btn-outline" data-target="#myModal" data-toggle="modal" ng-click="EditTempItem(x.ID)">查看</button> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <nav class="col-lg-offset-10 col-sm-4 right">
                <ul class="pagination">
                    <li>
                        <a ng-click="Fisrt()" class="btn green btn-xs btn-outline">
                            <span>首页</span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="Previous()" class="btn green btn-xs btn-outline">
                            <span>上一页</span>
                        </a>
                    </li>
                    <li ng-repeat="page in pageList" ng-class="{active: isActivePage(page)}" >
                        <a ng-click="selectPage(page)" class="btn green btn-xs btn-outline">{{ page }}</a>
                    </li>
                    <li>
                        <a ng-click="Next()" class="btn green btn-xs btn-outline">
                            <span>下一页</span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="End()" class="btn green btn-xs btn-outline">
                            <span>尾页</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" class="modal fade" bs-popup="" ng-model="test"
             id="myModal" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 id="myModalLabel" class="modal-title">测试弹窗</h4>
                    </div>
                    <div class="modal-body">
                        {{showID}}
                        <br /><br />
                        <button aria-hidden="true" data-dismiss="modal" class="btn green btn-xs btn-outline" type="button">关闭</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
        <script src="../assets/global/plugins/jquery.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="../assets/global/scripts/datatable.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
        <script src="../assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="../assets/global/scripts/app.min.js" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="../assets/layouts/layout4/scripts/layout.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/layout4/scripts/demo.min.js" type="text/javascript"></script>
        <script src="../assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
        <script>
            var app = angular.module('CreateTable', []);
            app.controller('myCtrl', function ($scope, $http) {
                $http.get("../Test/GetZLDL?id=B8C038DD-B5C4-4EB3-AEBC-A7A074A87077&search=")
                         .success(function (response) {
                             $scope.sites = response;

                             //分页总数
                             $scope.pageSize = 3;
                             $scope.pages = Math.ceil($scope.sites
                                 .length / $scope.pageSize); //分页数
                             $scope.newPages = $scope.pages > 3 ? 3 : $scope.pages;
                             $scope.pageList = [];
                             $scope.selPage = 1;
                             //设置表格数据源(分页)
                             $scope.setData = function () {
                                 //通过当前页数筛选出表格当前显示数据
                                 $scope.sites = response.slice(($scope.pageSize * ($scope.selPage - 1)), ($scope.selPage * $scope.pageSize));
                             }
                             $scope.sites = response.slice(0, $scope.pageSize);
                             //分页要repeat的数组
                             for (var i = 0; i < $scope.newPages; i++) {
                                 $scope.pageList.push(i + 1);
                             }
                             //打印当前选中页索引
                             $scope.selectPage = function (page) {
                                 //不能小于1大于最大
                                 if (page < 1 || page > $scope.pages) return;
                                 //最多显示分页数5
                                 if (page > 2) {
                                     //因为只显示5个页数，大于2页开始分页转换
                                     var newpageList = [];
                                     for (var i = (page - 3) ; i < ((page + 2) > $scope.pages ? $scope.pages : (page + 2)) ; i++) {
                                         newpageList.push(i + 1);
                                     }
                                     $scope.pageList = newpageList;
                                 }
                                 $scope.selPage = page;
                                 $scope.setData();
                                 $scope.isActivePage(page);
                                 console.log("选择的页：" + page);
                             };
                             //设置当前选中页样式
                             $scope.isActivePage = function (page) {
                                 return $scope.selPage == page;
                             };
                             //上一页
                             $scope.Previous = function () {
                                 $scope.selectPage($scope.selPage - 1);
                                 $scope.setData();
                             }
                             //下一页
                             $scope.Next = function () {
                                 $scope.selectPage($scope.selPage + 1);
                                 $scope.setData();
                             }

                             $scope.Fisrt = function () {
                                 $scope.selectPage(1);
                                 $scope.setData();
                             }
                             $scope.End = function () {
                                 $scope.selectPage($scope.pages);
                                 $scope.setData();
                             }
                         });

                $scope.Find = function () {

                    if ($scope.Search != null) {

                        $http.get("../Test/GetZLDL?id=B8C038DD-B5C4-4EB3-AEBC-A7A074A87077&search=" + $scope.Search)
                     .success(function (response) {
                         $scope.sites = response;
                     });
                    } else {
                        $http.get("../Test/GetZLDL?id=B8C038DD-B5C4-4EB3-AEBC-A7A074A87077&search=")
                         .success(function (response) {
                             $scope.sites = response;
                         });
                    }
                }

                $scope.EditTempItem = function (id) {
                    $scope.showID = id;
                    app.directive('bsPopup', function ($parse) {
                        return {
                            require: 'ngModel',
                            restrict: 'A',
                            link: function (scope, elem, attrs, ctrl) {
                                scope.$watch(function () {
                                    return $parse(ctrl.$modelValue)(scope);
                                }, function (newValue) {
                                    if (newValue == 0) {
                                        $(elem).modal('hide');
                                        return;
                                    }
                                    if (newValue == 1) {
                                        $(elem).modal('show');
                                        return;
                                    }
                                });
                            }
                        }
                    });
                }

            })
        </script>

</body>
</html>
